/**
 * Styles 
 * 
 * @author Henrique Dias
 * @package CodePocket
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video
{
	border:0;
	font-size:100%;
	margin:0;
	padding:0;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display:block;
}

body
{
	line-height:1;
}

ol,ul
{
	list-style:none;
}

blockquote,q
{
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after
{
	content:none;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
}

img
{
	-ms-interpolation-mode:bicubic;
}

strong
{
	font-weight:700;
}

a
{
	cursor:pointer;
	text-decoration:none;
}

html,body
{
	background-color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	height:100%;
	padding:0;
	text-align:left;
	width:100%;
}

p
{
	color:rgba(0,0,0,0.63);
	line-height:1.25em;
	margin-bottom:10px;
	margin-top:10px;
}

h1
{
	color:rgba(0,0,0,0.63);
	font:inherit;
	font-size:2.5em;
	margin-bottom:10px;
	margin-top:10px;
}

h2
{
	color:rgba(0,0,0,0.63);
	font-size:3em;
}

#header
{
	background-color:rgba(245,245,245,0.95);
	height:3em;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index: 2;
}

#header_title
{
	color:#FFF;
	font-size:124%;
	line-height:2.5em;
	padding-left:.5em;
	vertical-align:middle;
}

#header_title a
{
	color:#007AFF;
	text-decoration:none;
}

#header .logo
{
	border:0!important;
	border-radius:5px;
	height:2em;
	line-height:3em;
	margin-left:.5em;
	position:relative;
	vertical-align:middle;
}

#header .search
{
	display:inline-block;
	height:2.813em;
	padding:.313em;
	position:absolute;
	right:0;
	top:0;
	vertical-align:middle;
}

#menu-btn-div
{
	background-image:url(/imgs/icons/menu-button.png);
	background-repeat:no-repeat;
	background-size:contain;
	cursor:pointer;
	display:inline-block;
	font-size:2.5em;
	height:38%;
	margin:0;
	padding:0;
	vertical-align:middle;
	width:.5em;
}

#nav,#nav ul
{
	display:inline-block!important;
	height:2.75em;
	position:fixed;
	top:0;
	vertical-align:middle;
	width:9em;
}

#nav
{
	right:0;
	z-index:200;
}

#nav ul li
{
	border-bottom:#007AFF solid .25em;
	cursor:pointer;
	display:inline-block!important;
	line-height:2.75em;
	padding-left:.5em;
	padding-right:.5em;
	text-align:center;
	transition:all .5s ease;
	vertical-align:middle;
}

#nav ul li:hover
{
	background:rgba(0,0,0,0.035);
}

#nav ul a
{
	color:#007AFF;
	font-weight:700;
	height:100%;
	line-height:100%;
	text-decoration:none;
	text-transform:uppercase;
	transition:all .2s ease;
}

#menu-checkbox
{
	display:none;
}

#menu
{
	-moz-transform:translate3d(-100%,0,0);
	-moz-transition:all .2s;
	-webkit-transform:translate3d(-100%,0,0);
	-webkit-transition:all .2s;
	background:#FFF;
	color:#888;
	height:100%;
	left:-100%;
	position:fixed;
	top:3em;
	transform:translate3d(-100%,0,0);
	transition:all .2s;
	visibility:hidden;
	width:250px;
	z-index: 2;
}

#menu ~ body
{
	overflow:hidden;
}

#menu-checkbox:checked ~ #overlay
{
	display:block;
}

#menu-checkbox:checked ~ #menu
{
	-webkit-transform:translate3d(0,0,0);
	left:0;
	transform:translate3d(0,0,0);
	visibility:visible;
}

#overlay
{
	background-color: rgba(0,0,0,0.5);
	display:none;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index: 1;
}

.user
{
	background:#00adee;
	display:block;
	height:70px;
	margin:0;
	padding:0;
	width:250px;
}

.user_photo
{
	background:url(/imgs/users/default_small.png);
	background-size:contain;
	display:table-cell;
	height:70px;
	margin:0;
	padding:0;
	width:70px;
}

.user_photo img
{
	display:table-cell;
	height:80px;
	margin:0;
	padding:0;
	width:80px;
}

.user_name
{
	color:#fff;
	display:table-cell;
	font-size:1.25em;
	height:70px;
	margin:0;
	text-align:center;
	vertical-align:middle;
	width:180px;
}

.user_name a
{
	color:#fff!important;
	width:100%;
}

.user_name p
{
	color:#fff!important;
	transition:.5s ease all!important;
}

.user_name p:hover
{
	background:rgba(255,255,255,0.2)!important;
}

.separator
{
	border-bottom:1px solid #00adee;
	height:auto;
	margin:auto;
	width:90%;
}

.content
{
	margin-left:auto;
	margin-right:auto;
	max-width:960px;
	width:90%;
}

.main
{
	overflow:auto;
	padding-bottom:3.188em;
	padding-top: 3em;
}

.main h1
{
	color:rgba(0,0,0,0.63);
	font-size:5.5em;
	text-align:center;
	transition:color .5s ease;
}

.main h1:hover
{
	color:#02CCFF;
}

.main .logo
{
	border-radius:10px;
	max-width:100%;
	width:250px;
}

.main .author img
{
	border-radius:30px;
	display:inline-block;
	padding:10px;
	transition:all 1s ease;
	width:150px;
}

.main .author img:hover
{
	-moz-transition:background-color 1000ms linear;
	-ms-transition:background-color 1000ms linear;
	-o-transition:background-color 1000ms linear;
	-webkit-transition:background-color 1000ms linear;
	background-color:rgba(0,0,0,0.19);
	border-radius:50%;
	transition:background-color 1000ms linear;
}

footer
{
	background-color:#2B2B2B;
	border-top:3px solid #686868;
	bottom:0;
	color:#fff;
	height:3em;
	margin:-3.188em 0 0;
	position:relative;
	width:100%;
}

footer p
{
	color:#fff;
	line-height:3em;
	margin:0;
	padding-right:1em;
	text-align:right;
}

footer p a
{
	color:#fff;
}

footer p img
{
	height:1.5em;
	line-height:4em;
	margin-left:.5em;
	vertical-align:middle;
}

.return
{
	bottom:.5em;
	cursor:pointer;
	height:2em;
	left:.5em;
	position:absolute;
	width:2em;
	z-index:1;
}

.buttons
{
	text-align:justify;
}

.buttons a
{
	text-decoration:none;
}

.button
{
	background:#6298F5;
	border:0;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	margin-bottom:2.5px;
	margin-top:2.5px;
	padding:1em 2em;
	transition:all .5s ease;
}

.grey
{
	background:#5A5A5A!important;
	cursor:not-allowed;
}

.button:hover
{
	background:#4CD964;
}

.advice
{
	background:#e74c3c;
	color:#fff;
	height:40px;
	line-height:40px;
	margin:0!important;
	margin-bottom: 10px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
	width: auto;
	max-width: 500px;
}

.back_orange {
	background: #FF9500;
}

.back_green {
	background: #4CD964;
}

.back_blue{
	background: #007AFF;
}



.session
{
	margin-top:10px;
	text-align:left;
}

.session .text
{
	background:transparent;
	border:0;
	border-bottom:1px solid #007AFF;
	display:block;
	width:100%;
	height: 20px;
}

.session #submit
{
	background:#007AFF;
	border:0;
	color:#fff;
	cursor:pointer;
	display:block;
	height:3em;
	margin-top:10px;
	transition:all .5s ease;
	width:7em;
}

.session #submit:hover
{
	background:#FF9500;
}

.session_form
{
	margin:auto;
	max-width:300px;
	text-align:center;
	width:100%;
}

.session_form h1
{
	font-size:3em;
}

.session_form img
{
	height:130px;
	margin:10px 0;
	width:130px;
}

.session_form .advice {
	margin:0!important;
	margin-bottom: 0 !important;
}

.center
{
	margin:auto;
}

#home
{
	padding:.5em;
}

#home h1
{
	color:rgba(0,0,0,0.63);
	font-size:400%;
	margin-bottom:10px;
	margin-top:10px;
	text-align:center;
	transition:color .5s ease;
}

#home h1:hover
{
	color:#02CCFF;
}

#numbers_conj
{
	float:left;
	margin-right:20px;
	width:422px;
}

#not_found
{
	color:#e74c3c;
	font-size:4em;
	padding-top:20px;
	text-align:center;
}

.error404 .color_section p
{
	font-size:3em;
}

.message
{
	font-size:2em;
	padding-bottom:10px;
}

.small
{
	height:1em!important;
}

.left
{
	display:inline-block;
	float:left;
	position:relative;
}

.right
{
	display:inline-block;
	float:right;
	text-align:center;
}

.right p
{
	text-align:left;
}

.clear
{
	clear:both;
}

.login_button
{
	bottom:3.6em;
	position:absolute;
}

.login_button img
{
	display:inline-block;
	vertical-align:middle;
	width:2em;
}

.login_button p
{
	display:inline-block;
	vertical-align:middle;
}

.login_button p a
{
	background:transparent;
}

.login_button p a:hover
{
	background:transparent!important;
}

.readLaterOverlay
{
	border:0;
	cursor:pointer;
	display:inline-block;
	margin:0;
}

.readLaterOverlay input
{
	background:transparent;
	border:0;
	color:transparent;
	cursor:pointer;
	display:inline-block;
	height:32px;
	margin:0;
	position:absolute;
	width:32px;
}

.rlNumber
{
	background:red;
	border-radius:50%;
	color:#fff;
	display:inline-block;
	height:1.5em;
	margin:0;
	padding:0;
	position:absolute;
	text-align:center;
	width:1.5em;
}

.rlNumber p
{
	color:#fff;
	line-height:1.5em;
	margin:auto;
	vertical-align:middle;
}

.fifty
{
	display:inline-block;
	width:49%;
}

.block
{
	margin-top:15px;
	vertical-align:top;
}

.block h1
{
	font-size:2em!important;
}

#wrap
{
	min-height:100%;
}

.authorBox
{
	background:#fff;
	margin:auto;
	padding:10px 0;
	text-align:center;
	width:215px;
}

.greyOne
{
	background:#f1f2f2;
	padding:20px 0;
}

.greyTwo
{
	background:rgba(221,221,221,1);
	padding:20px 0;
}

.backoffice #menu a
{
	display:inline-block;
}

.backoffice #header
{
	border-bottom:1px solid #0B2A79;
}

.backoffice #header_title a
{
	color:#0B2A79;
}

.backoffice #nav ul li
{
	border-bottom:#0B2A79 solid .25em;
	transition:all .5s ease;
}

.backoffice #nav ul li:hover,#nav ul li:active
{
	background:rgba(0,0,0,0.05);
}

.backoffice #nav ul a
{
	color:#0B2A79;
}

.backoffice .button
{
	background:#0B2A79;
}

.backoffice #items li
{
	border:1px solid #0B2A79;
}

.backoffice #logo
{
	border:1px solid #0B2A79;
	border-radius:5px;
}

.backoffice .main h1:hover
{
	color:#0B2A79;
}

.backoffice #menu-btn
{
	color:#0B2A79;
}

.backoffice #menu-btn-div
{
	background-image:url(/imgs/icons/menu-button-backoffice.png);
}

.backoffice .color_section
{
	background:#0B2A79;
}

.backoffice .button:hover
{
	background:#0B2A79;
}

.rails .backoffice
{
	border:2px solid #0B2A79;
}

.backoffice .console
{
	background:#0B2A79;
}

.green .button
{
	background:#4CD964;
}

.green .button:hover
{
	background:#10A229;
}

.green #items li
{
	border:1px solid #4CD964;
}

.green #logo
{
	border:1px solid #4CD964;
	border-radius:5px;
}

.green .main h1:hover
{
	color:#4CD964;
}

.green #menu-btn
{
	color:#4CD964;
}

.green .railItems
{
	border:1px solid #4CD964;
}

.green .railItems li
{
	border:1px solid #4CD964;
}

.rails .green
{
	border:2px solid #4CD964;
}

.green .color_section
{
	background:#4CD964;
}

.green .console
{
	background:#4CD964;
}

.red .button
{
	background:#e74c3c;
}

.red .button:hover
{
	background:#DA0C00;
}

.red #items li
{
	border:1px solid #e74c3c;
}

.red #logo
{
	border:1px solid #e74c3c;
	border-radius:5px;
}

.red .main h1:hover
{
	color:#e74c3c;
}

.red #menu-btn
{
	color:#e74c3c;
}

.red .color_section
{
	background:#e74c3c;
}

.rails .red
{
	border:2px solid #e74c3c;
}

.red .railItems
{
	border:1px solid #e74c3c;
}

.red .railItems li
{
	border:1px solid #e74c3c;
}

.red .console
{
	background:#e74c3c;
}

.blue .button
{
	background:#007AFF;
}

.blue #items li
{
	border:1px solid #007AFF;
}

.blue #logo
{
	border:1px solid #007AFF;
	border-radius:5px;
}

.blue .main h1:hover
{
	color:#007AFF;
}

.blue #menu-btn
{
	color:#007AFF;
}

.blue .color_section
{
	background:#007AFF;
}

.blue .button:hover
{
	background:#003C7E;
}

.blue .railItems
{
	border:1px solid #003C7E;
}

.blue .railItems li
{
	border:1px solid #003C7E;
}

.rails .blue
{
	border:2px solid #007AFF;
}

.blue .console
{
	background:#002C7E;
}

.orange .button
{
	background:#FF9500;
}

.orange .button:hover
{
	background:#E78700;
}

.orange #items li
{
	border:1px solid #FF9500;
}

.orange #logo
{
	border:1px solid #FF9500;
	border-radius:5px;
}

.orange .main h1:hover
{
	color:#FF9500;
}

.orange #menu-btn
{
	color:#FF9500;
}

.rails .orange
{
	border:2px solid #FF9500;
}

.orange .railItems
{
	border:1px solid #FF9500;
}

.orange .railItems li
{
	border:1px solid #FF9500;
}

.orange .color_section
{
	background:#FF9500;
}

.orange .console
{
	background:#FF9500;
}

.rails
{
	text-align:center;
}

.rails .railbox
{
	background:#fff;
	display:inline-block;
	height:300px;
	margin:10px;
	padding:10px;
	text-align:center;
	width:250px;
}

.rails .button
{
	height:auto;
	margin:0;
	width:auto;
}

.rails .title
{
	font-size:2em;
	height:45px;
	line-height:45px;
	margin:0;
	vertical-align:middle;
}

.rails .description
{
	height:105px;
	text-align:left;
}

.rails img
{
	height:75px;
}

.railItems
{
	background:#F8F8F8;
	border-radius:5px;
	margin-bottom:20px;
}

.railItems li
{
	padding:15px;
}

.railItems li .title
{
	font-size:1.5em;
}

.railItems li .title a
{
	color:rgba(0,0,0,0.63);
	text-decoration:none;
}

.railLogo,.railLogo img
{
	height:350px;
}

.railLogo
{
	margin-bottom:20px;
	text-align:center;
	width:auto;
}

.color_section .title
{
	font-size:3em;
}

.color_section p
{
	color:#fff;
}

.color_section
{
	margin-bottom:20px;
	max-width:100%!important;
	padding:20px 0;
	width:100%!important;
}

.form h1
{
	font-size:4em;
	text-align:left;
}

.form input
{
	background:#fff;
	border:0;
	border-bottom:1px solid #fff;
	width:255px;
}

.form .submit
{
	background:#0B2A79;
	color:#fff;
	cursor:pointer;
	margin:10px 0;
	padding:10px 20px;
	transition:all .5s ease;
	width:auto;
}

.form .submit:hover
{
	background:#061B50;
}

.form textarea
{
	border:0;
	font-family:'Open Sans', sans-serif;
	height:200px;
	max-width:100%;
	width:100%;
}

.list
{
	width:100px!important;
}

.rail_item
{
	background:url(/imgs/pattern.png);
	height:500px;
	margin:0;
	width:100%;
}

.rail_item .content
{
	background-position:center center;
	background-size:cover;
	height:100%;
	max-width:100%;
	width:100%;
	margin-top: -0.188em;
}

.rail_item h1
{
	margin:0;
}

.profile .color_section
{
	text-align:center;
}

.profile .color_section .username p
{
	display:inline-block;
	font-size:3.5em;
	vertical-align:middle;
}

.profile .color_section .photo img
{
	border-radius:50%;
	height:11.25em;
	width:11.25em;
}

.profile .config
{
	display:inline-block;
	margin-right:10px;
	vertical-align:middle;
	width:2em;
}

.prenext .right
{
	display:inline-block;
	float:none;
	margin:0;
	padding:0;
	text-align:right;
	width:49%;
}

.prenext .left
{
	display:inline-block;
	float:none;
	margin:0;
	padding:0;
	text-align:left;
	width:49%;
}

.railItemPage blockquote
{
	border:5px solid #e74c3c;
	padding:2.5px 15px;
}

.console
{
	background:#FF9500;
	height:250px;
	padding:2% 0;
	width:100%;
}

.console textarea
{
	border:0;
	display:inline-block;
	height:100%;
	margin:0 0 0 2%;
	padding:0;
	resize:none;
	width:47%;
}

.console iframe
{
	background:#FFF;
	float:right;
	height:100%;
	margin-right:2%;
	width:47%;
}

.menu_items li img
{
	display:inline-block;
	height:1.5em;
	margin-left:15px;
	vertical-align:middle;
	width:1.5em;
}

.menu_items li p
{
	display:inline-block;
	margin-left:15px;
	vertical-align:middle;
}

.menu_items li
{
	color:#3f3f3f;
	cursor:pointer;
	display:block!important;
	line-height:.4em;
	text-decoration:none;
	transition:all .5s ease;
	width:100%;
}

.menu_items li:hover
{
	background:#ebebeb;
}

.modal {
  display: none;
  position:  fixed;
  z-index: 2;
  top: 0.25em;
  left:    0;
  height: 3em;
  width:   100%;
}

body.loading .modal {
  display: block;
}

body.loading .overlay {
	display: block;
}

.bubblingG {
	text-align: center;
	width: 100%;
	height: 2.75em;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	margin: 20px auto;
	background: #007AFF;
	-moz-border-radius: 40px;
	-moz-animation: bubblingG 1.3s infinite alternate;
	-webkit-border-radius: 40px;
	-webkit-animation: bubblingG 1.3s infinite alternate;
	-ms-border-radius: 40px;
	-ms-animation: bubblingG 1.3s infinite alternate;
	-o-border-radius: 40px;
	-o-animation: bubblingG 1.3s infinite alternate;
	border-radius: 40px;
	animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

#bubblingG_2 {
	-moz-animation-delay: 0.39s;
	-webkit-animation-delay: 0.39s;
	-ms-animation-delay: 0.39s;
	-o-animation-delay: 0.39s;
	animation-delay: 0.39s;
}

#bubblingG_3 {
	-moz-animation-delay: 0.78s;
	-webkit-animation-delay: 0.78s;
	-ms-animation-delay: 0.78s;
	-o-animation-delay: 0.78s;
	animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
	0% {
		width: 8px;
		height: 8px;
		background-color:#007AFF;
		-moz-transform: translateY(0);
	}

	100% {
		width: 19px;
		height: 19px;
		background-color:#FF9500;
		-moz-transform: translateY(-17px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 8px;
		height: 8px;
		background-color:#007AFF;
		-webkit-transform: translateY(0);
	}

	100% {
		width: 19px;
		height: 19px;
		background-color:#FF9500;
		-webkit-transform: translateY(-17px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 8px;
		height: 8px;
		background-color:#007AFF;
		-ms-transform: translateY(0);
	}

	100% {
		width: 19px;
		height: 19px;
		background-color:#FF9500;
		-ms-transform: translateY(-17px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 8px;
		height: 8px;
		background-color:#007AFF;
		-o-transform: translateY(0);
	}

	100% {
		width: 19px;
		height: 19px;
		background-color:#FF9500;
		-o-transform: translateY(-17px);
	}
}

@keyframes bubblingG {
	0% {
		width: 8px;
		height: 8px;
		background-color:#007AFF;
		transform: translateY(0);
	}

	100% {
		width: 19px;
		height: 19px;
		background-color:#FF9500;
		transform: translateY(-17px);
	}
}

@media only screen and (max-width: 40em) {
	#nav
	{
		background-color:rgba(245,245,245,0.95);
		border-top:1px solid #007AFF;
		display:block!important;
		height:auto;
		margin:3em 0 -3em;
		padding:0;
		position:relative;
		right:auto;
		text-align:center;
		top:auto;
		width:100%;
		z-index:1;
	}
	
	#nav ul
	{
		height:3.438em;
		margin-bottom:0;
		margin-top:0;
		padding:0;
		position:relative;
		right:0;
	}
	
	#nav ul li
	{
		display:inline-block;
		line-height:3.2em;
		padding-left:.5em;
		padding-right:.5em;
		text-align:center;
		transition:all .5s ease;
		vertical-align:inherit;
	}
	
	#nav ul a
	{
		font-weight:700;
		height:100%;
		line-height:100%;
		text-decoration:none;
		text-transform:uppercase;
		transition:all .2s ease;
	}
	
	footer
	{
		margin-left:0!important;
	}
	
	#sidebar
	{
		background:#7EACFF!important;
		height:auto!important;
		margin:0!important;
		padding-top:5px;
		position:relative!important;
		vertical-align:middle;
		width:100%!important;
	}
	
	#sidebar a
	{
		background:#7EACFF!important;
		color:#fff;
		display:block;
		margin:5px 0;
		text-decoration:none;
		transition:all .3s ease;
	}
	
	#sidebar a:hover
	{
		background:#6298F5!important;
	}
	
	#sidebar a div
	{
		padding-bottom:5px;
		padding-left:0!important;
		padding-top:5px;
		width:100%;
	}
	
	.main
	{
		margin:0!important;
	}
	
	#register_left,#register_right
	{
		display:block;
		float:none;
		margin:auto auto 15px;
		max-width:250px;
		width:100%;
	}
	
	.green #nav
	{
		border-bottom:1px solid #4CD964;
		border-top:1px solid #4CD964;
	}
	
	.red #nav
	{
		border-bottom:1px solid #e74c3c;
		border-top:1px solid #e74c3c;
	}
	
	.blue #nav
	{
		border-bottom:1px solid #007AFF;
		border-top:1px solid #007AFF;
	}
	
	.orange #nav
	{
		border-bottom:1px solid #FF9500;
		border-top:1px solid #FF9500;
	}
	
	.main h1
	{
		font-size:3.3em;
	}

	#header_title a 
	{ 
		display: none;
	}
}

@media only screen and (max-width: 31em) {
	.fifty
	{
		width:100%;
	}

}