<script src='/admin/lib/ckeditor/ckeditor.js'/></script>

<!-- wysihtml5 parser rules -->
<script src="/admin/lib/xing/parser_rules/advanced.js"></script>
<!-- Library -->
<script src="/admin/lib/xing/dist/wysihtml5-0.3.0.min.js"></script>

<div class='main'>
	<section>
		<div class='content form'>	
			<h1>Trilhos - Editar Item</h1>
			<p>Editar um item do trilho.</p>	
		</div>
	</section>

	<section class='greyOne'>
		<div class='content form'>
			<form class='form' action='/admin/?action=editRailItemSubmit' method='post'>
				<p>Título</p>
				<input class='text' type='text' name='title' value='{RAIL_ITEM_TITLE}' readonly>

				<p>Trilho</p>
				<input class='text' type='text' name='rail' value='{RAIL}'>

				<p>Conteúdo</p>
				<div id="wysihtml5-toolbar" style="display: none;">
				  <a data-wysihtml5-command="bold">bold</a>
				  <a data-wysihtml5-command="italic">italic</a>
				  
				  <!-- Some wysihtml5 commands require extra parameters -->
				  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a>
				  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a>
				  <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a>
				  
				  <!-- Some wysihtml5 commands like 'createLink' require extra paramaters specified by the user (eg. href) -->
				  <a data-wysihtml5-command="createLink">insert link</a>
				  <div data-wysihtml5-dialog="createLink" style="display: none;">
				    <label>
				      Link:
				      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
				    </label>
				    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
				  </div>
				</div>
				<textarea class='text big' type='text'  id="wysihtml5-textarea" name='content'>{RAIL_ITEM_CONTENT}</textarea>
				<!--<script>
					// Replace the <textarea id='editor1'> with a CKEditor
					// instance, using default configuration.
					CKEDITOR.replace( 'editor' );
			    </script>-->

			    <script>
				var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
				  toolbar:      "wysihtml5-toolbar", // id of toolbar element
				  parserRules:  wysihtml5ParserRules // defined in parser rules set 
				});
				</script>

				<input class='submit' type='submit'>
			</form>
		</div>
	</section>
</div>