<script src='/admin/lib/ckeditor/ckeditor.js'/></script>

<div class='main'>
	<section>
		<div class='content form'>	
			<h1>Adicionar Trilho</h1>
			<p>Adicione um novo trilho. Tenha em atenção de que a cor deve ser introduzida em inglês e só deve inserir o nome da imagem sem a sua extensão.</p>	
		</div>
	</section>

	<section class='greyOne'>
		<div class='content form'>
			<form class='form' action='/admin/?action=editRailSubmit' method='post'>
				<p>Título</p>
				<input class='text' type='text' name='title' autofocus value='{TITLE}'>

				<p>Cor</p>
				<input class='text' type='text' name='color' value='{COLOR}'>

				<p>Imagem</p>
				<input class='text' type='text' name='image' placeholder='/imgs/rails_logo/ALGO.png' value='{IMAGE}'>

				<p>Descrição</p>
				<textarea class='text big' type='text'  id='editor' name='description'>{DESCRIPTION}</textarea>
				<script>
					// Replace the <textarea id='editor1'> with a CKEditor
					// instance, using default configuration.
					CKEDITOR.replace( 'editor' );
			    </script>

				<p>O que é... ?</p>
				<textarea class='text big' type='text' id='editor2' name='what'>{WHAT}</textarea>
				<script>
					// Replace the <textarea id='editor1'> with a CKEditor
					// instance, using default configuration.
					CKEDITOR.replace( 'editor2' );
			    </script>

				<input class='submit' type='submit'>
			</form>
		</div>
	</section>
</div>