<div class='main'>
	<section>
		<div class='content form'>	
			<h1>Trilhos - Editar Item</h1>	
			<p>Escolha o item/guia que deseja editar.</p>
		</div>
	</section>

	<section class='greyOne'>
		<div class='content form'>
			
			<!-- BEGIN BLOCK_RAIL -->
			<form class='form' action='/admin/?action=editRailItemList' method='post'>
				<input type='submit' class='submit' name='rail' value='{RAIL_TITLE}'>
			</form>
			<!-- END BLOCK_RAIL -->

			<!-- BEGIN BLOCK_ITEMS -->
			<form class='form' action='/admin/?action=editRailItem' method='post'>
				<input style='display:none' class='text' type='text' name='rail' value='{RAIL}'>
				<input type='submit' class='submit' name='title' value='{ITEM_TITLE}'>
			</form>
			<!-- END BLOCK_ITEMS -->

		</div>
	</section>
</div>