ErrorDocument 404 /404

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteRule ^(imgs)($|/) - [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*) index.php?url=$1 [QSA,L]
</IfModule>