<div id='wrap'>
<div class="container">

	<div class='main {COLOR}'>
		<section>
			<div class='content'>

				<h1>Sobre</h1>

				<div style='text-align: center;'>
					<img src='/imgs/logo.svg' class='logo'>
				</div>

				<div class='block fifty left'>
					<h1>O {SITE_NAME}</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget ultrices enim, id interdum ligula. Praesent fringilla bibendum iaculis. Cras turpis mauris, placerat vel lacus eget, malesuada congue odio. Donec eu enim varius, imperdiet est at, cursus lectus. Duis volutpat tincidunt tempor. Cras non nisl iaculis, convallis felis ut, aliquam nisi. Aliquam at auctor mauris. Donec faucibus adipiscing lacus, quis congue mauris vulputate in. Morbi vulputate lorem gravida sapien pharetra malesuada. Morbi lectus ipsum, auctor consectetur fermentum eu, pulvinar sed nulla.</p>

				</div>

				<div class='block fifty right'>
					<h1>Objetivos</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget ultrices enim, id interdum ligula. Praesent fringilla bibendum iaculis. Cras turpis mauris, placerat vel lacus eget, malesuada congue odio. Donec eu enim varius, imperdiet est at, cursus lectus. Duis volutpat tincidunt tempor. Cras non nisl iaculis, convallis felis ut, aliquam nisi. Aliquam at auctor mauris. Donec faucibus adipiscing lacus, quis congue mauris vulputate in. Morbi vulputate lorem gravida sapien pharetra malesuada. Morbi lectus ipsum, auctor consectetur fermentum eu, pulvinar sed nulla.</p>

				</div>
			</div>

		</section>

		<section class='author greyOne clear'>

			<div class='content'>
				<h2>Quem está por detrás?</h2>

				<div class="major_abox">

				<div class='authorBox'>
					<img src='/imgs/users/default_big.png'>
					<p>Another Person</p>
				</div>

				<div class='authorBox'>
					<img src='/imgs/authors/henrique.png'>
					<p>Henrique Dias</p>
				</div>

				</div>
			</div>

		</section>

		<section class='greyTwo'>
			<div class='content'>
				<h2>Créditos</h2>

				<p>- Alguns icons provêm do site <a href='http://icons8.com/licenseIcons8'>Icons8</a>.</p>
				<p>- Usando sistema de <i>Templates</i> de Rael Cunha: <a href='https://github.com/raelgc/template'>GitHub</a>.</p>
			</div>

		</section>
	</div>

</div>

</div>