		</div>

		<footer class='site_footer clear'>
			<div class="ninety">
				<div class="left"><p><img src='/imgs/logo_pi.svg'> &copy; 2014 {SITE_NAME}</p></div>

				<div class="right">
					<p><a onClick="page('about');">{ABOUT}</a></p>
					<!-- <span class="sep"> | </span>
					<p><a onClick="page('');">Link 2</a></p> -->
				</div>
				
			</div>
		</footer>

		
		<div class="modal">
			<div class="bubblingG">
				<span id="bubblingG_1">
				</span>
				<span id="bubblingG_2">
				</span>
				<span id="bubblingG_3">
				</span>
			</div>
		</div>
	</body>
</html>