<!doctype html>
<html lang='{LANG}'>

	<head>
		<title>{SITE_NAME}</title>

		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link rel='stylesheet' href='/css/template.css?v={CSS_VERSION}' type='text/css' media='all' />

		<meta name='apple-mobile-web-app-title' content='{SITE_NAME}'>

		<link rel='apple-touch-icon-precomposed' href='/imgs/touch-icon.png'>
		<link rel='icon' sizes='196x196' href='/imgs/touch-icon.png'>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="/js/page.js?v={JS_VERSION}"></script>

	</head>

	<body>
		<div id='header'>

			<span class="btnz">
				<label for='menu-checkbox' id='menu-btn'>
					<div id='menu-btn-div'></div>
				</label>
			</span>

			<a onClick="page('')">

				<span class="logo"></span>
			</a>
			<span id='header_title'><a onClick="page('')">{SITE_NAME}</a></span>

		</div>

		<div id="wrap">