<div class='main {COLOR}'>
	<div class='content'>
	
		<!-- BEGIN ITEM -->

		<article class="items" id="item-{ID}">

			<header>
				<h2><a onclick="page('dictionary/{UCATEGORY}/{UTITLE}');">{TITLE}</a></h2>
			</header>

			<div class="description">
				{DESCRIPTION}
			</div>

			<footer>
				<img src="/imgs/icons/category.png">
				<a onclick="page('dictionary/{UCATEGORY}');">{CATEGORY}</a>

				<!-- BEGIN ADDFAV -->
					<span id="fav-{ID}"><button class="user_actions addFav" onclick="javascript:actionFavLater({ID}, 'fav', 'add');"><span></span></button></span>
				<!-- END ADDFAV -->

				<!-- BEGIN REMFAV -->
					<span id="fav-{ID}"><button class="user_actions remFav" onclick="javascript:actionFavLater({ID}, 'fav', 'rem');"><span></span></button></span>
				<!-- END REMFAV -->

				<!-- BEGIN ADDLATER -->
					<span id="later-{ID}"><button class="user_actions addLater" onclick="javascript:actionFavLater({ID}, 'later', 'add');"><span></span></button></span>
				<!-- END ADDLATER -->

				<!-- BEGIN REMLATER -->
					<span id="later-{ID}"><button class="user_actions remLater" onclick="javascript:actionFavLater({ID}, 'later', 'rem');"><span></span></button></span>
				<!-- END REMLATER -->
				
			</footer>

		</article>

		<!-- END ITEM -->

		<!-- BEGIN PREV -->
			<button onclick="page('{URL}{PREV_N}');">Anterior</button>
		<!-- END PREV -->

		<!-- BEGIN NEXT -->
			<button onclick="page('{URL}{NEXT_N}');">Próxima</button>
		<!-- END NEXT -->
	</div>
</div>