<div class='main {COLOR}'>
	<div class='content'>

		<!-- BEGIN ITEM -->

		<article class="items">

			<header>
				<h2><a onclick="page('dictionary/item/{UTITLE}');">{TITLE}</a></h2>
			</header>

			<div class="description">
				{DESCRIPTION}
			</div>

			<footer>
				<img src="/imgs/icons/category.png">
				<a onclick="page('dictionary/category/{UCATEGORY}');">{CATEGORY}</a>


				<!-- BEGIN USER_ACTIONS -->
					<button class="user_actions" onclick="javascript:addFavLater({ID}, 'fav');"><img src="/imgs/icons/star.svg"></button>
					<button class="user_actions" onclick="javascript:addFavLater({ID}, 'later');"><img src="/imgs/icons/plus.svg"></button>
				<!-- END USER_ACTIONS -->
			</footer>

		</article>

		<!-- END ITEM -->


		<!-- BEGIN PREV -->
			<button onclick="page('dictionary/{PREV_N}');">Anterior</button>
		<!-- END PREV -->

		<!-- BEGIN NEXT -->
			<button onclick="page('dictionary/{NEXT_N}');">Próxima</button>
		<!-- END NEXT -->

	</div>
</div>