<input id='menu-checkbox' type='checkbox'>

<nav id='menu'>

	<div class='user' style="background: {COLOR};" >
		<div class='user_photo' style="background-image: url(/imgs/users/{USERPHOTO}_small.png);"></div>

		<div class='user_name'>

			<!-- BEGIN LOGIN_MENU  --> 
			<p>Inicie Sessão</p>
			<!-- END LOGIN_MENU -->
			<p>{USERNAME}</p>
			<!-- FINALLY LOGIN_MENU -->

		</div>

	</div>



	<label for='menu-checkbox'>

		<ul class="menu_items">

			<!-- BEGIN NAV_USER -->

			<a onClick="page('profile/{USER}')"><li><img src='/imgs/icons/profile.png'><p>Perfil</p></li></a>
			<a onClick="page('dictionary/favorites')"><li><img src='/imgs/icons/fav.png'><p>Favoritos</p></li></a>
			<a onClick="page('dictionary/readlater')"><li><img src='/imgs/icons/later.png'><p>Ler +Tarde</p></li></a>

			<div class='separator'></div>

			<!-- END NAV_USER -->

			<a onClick="page('')"><li><img src='/imgs/icons/home.png'><p>Home</p></li></a>
			<a onClick="page('dictionary')"><li><img src='/imgs/icons/info.png'><p>Dicionário</p></li></a>
			<a onClick="page('dictionary')"><li><img src='/imgs/icons/qa.png'><p>Perguntas e Respostas</p></li></a>

		</ul>

	</label>

	<!-- BEGIN LOGIN -->
	<label for='menu-checkbox'>

		<ul class="menu_items">
			<a onClick="page('user/login');"><li class="login_button"><img src='/imgs/icons/login.png'><p>Login</p></li></a>
		</ul>

	</label>

	<!-- END LOGIN  -->

	<label for='menu-checkbox'>

		<ul class="menu_items">
			<a onClick="logout();"><li class="login_button"><img src='/imgs/icons/exit.png'><p>Logout</p></li></a>
		</ul>

	</label>

	<!-- FINALLY LOGIN -->

</nav>

<label for='menu-checkbox' id='overlay'></label>