p, td, th, li, body {
   font-size: 16px;   
   font-family: "Arial";
   color: black;
   text-align: justify;
}

li.big {
   font-size: 20px;
}

p.big {
   font-size: 18px;   
}

table {
  background-color: #aaaaaa;
}

td {
   background-color: white;
   text-align: center;   
}

td.header {
   background-color: #f5f5f5;
   text-align: center;   
}

th {
   background-color: black;
   text-align: center;
   color: white;
}

th.teams {
   color: white;
   background-color: black;
   text-align: center;
}

tr.team {
   background-color: #f0f0f0;
}

p.footer {
   font-size: 11px;
   text-align: right;
}

body {
   background-color: #f5f5f5;
}

h1 {
   font-size: 30px;
   color: DarkBlue;   
   font-family: "Arial";
   font-weight: bold;
   text-align: left;
}

h2 {
   font-size: 26px;
   color: black;
   font-family: "Arial";
   font-weight: bold;
   text-align: left;
}
   
h3 {
   font-size: 20px;
   color: DarkBlue;
   font-family: "Arial";
   font-weight: bold;
   text-align: left;
}

hr {
    color: #000077;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center {
   text-align: center;
}

a {
   color: DarkBlue;
   font-weight: bold;
}

a.nav {
   color: white;
}

a:hover { color: red; }

td.nav {
   font-size: 14px;   
   font-weight: bold;
   text-align: center;
}

td.title {
   font-size: 15px;   
   font-weight: bold;
   color: white;
   text-align: center;
}

table.titlecolor {
   background-color: black;
   border-color: #9aa4c9;
}

td.main {
   font-size: 15px;
   color: black;
   text-align: center;
}

table.maincolor {
   background-color: #f3f3f3;
   border-color: black;
}


.bggrey {
   background-color: #dddddd;
}

.white {
   background-color: white
}

.navcolor   { background-color: #82a1c1}

.right  { text-align: right;}
.left   { text-align: left;}
.center { text-align: center;}

