<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head" . -}}
</head>
<body>
  <header id="header">
    <nav>
      <ul>
        <li><strong><a href="{{ relURL .Site.BaseURL }}">{{ .Site.Title }}</a></strong></li>
      </ul>
    </nav>
  </header>

  <main role="main">
    {{ block "main" . -}}{{ end }}
  </main>


  {{ $js := resources.Get "js/vendor/twemoji.min.js" }}
  {{ $secureJS := $js | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
  <script>twemoji.parse(document.body, {
    base: 'https://cdn.hacdias.com/emojis/13.0.0/',
    folder: 'svg',
    ext: '.svg'
  });</script>

  {{ $appJs := resources.Get "js/app.js" }}
  {{ $appSecureJS := $appJs | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $appSecureJS.RelPermalink }}" integrity="{{ $appSecureJS.Data.Integrity }}"></script>


</body>
</html>
