* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    roboto,
    noto,
    segoe ui,
    arial,
    sans-serif;

  line-height: 1.5;
  color: #333;
  font-size: 1rem;
  max-width: 42rem;
  width: 100%;
  padding: 5vw;
}

svg,
video,
img {
  max-width: 100%;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

h1 {
  margin: 1rem 0;
}

h2 {
  margin: 2rem 0 1rem;
}

a {
  text-decoration: none;
  box-shadow: inset 0 -7px 0 rgba(147,255,145,0.25);
  transition: all .1s ease-in;
  border-bottom: 1px solid #d9d9d9;
  color: #3abb9b;
  border-radius: 2px;
}

a:hover {
  box-shadow: inset 0 -24px 0 rgba(147,255,145,0.25);
}

.no-link,
.no-link:active,
.no-link:visited {
  text-decoration: none;
  color: inherit;
}

.no-link:hover {
  background: none;
}

hr {
  border: 0;
  border-top: 1px solid #fff;
  margin: 1.2em auto;
}

article ul,
article ol {
  padding-left: 2em;
}

table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table tr {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

table tr:nth-child(2n) {
  background-color: #f4f4f4;
}

table img {
  background-color: transparent;
}

blockquote {
  padding-left: 0.75rem;
  margin: 1em 0 1rem 1rem;
  border-left: .25rem solid #3abb9b;
}

.highlight > pre,
.content > pre {
  overflow: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  background: #eef3f6!important;
}

#backlinks {
  padding: 1rem;
  background: #eef3f6;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

#backlinks h3 {
  margin: 0;
  color: #9aa4ab;
}

#backlinks > div {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem,1fr));
  margin: 0 -0.25rem 0 -0.25rem;
}

#backlinks > div > a {
  padding: .25rem;
  border-radius: 4px;
  font-size: .8rem;
  cursor: pointer;
  box-shadow: none;
  color: inherit;
  border: 0;
  word-break: break-word;
}

#backlinks > div > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#backlinks > div p {
  margin-bottom: 0;
}

@media screen and (max-width: 40rem) {

}

@media print {
  a[href]::after {
    content: " (" attr(href) ")"
  }
}

#header {
  background: #eef3f6;
  border-radius: 0.25rem;
  padding: 1rem;
}

#header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
