/**
 * Green Styles 
 * 
 * @author Henrique Dias
 * @package MathPocket
 */

#header{
	border-bottom: 1px solid #4CD964;
}

#header_title a {
	color: #4CD964;
}

#nav ul li{
	transition: all 0.5s ease;
	border-bottom: #4CD964 solid 0.25em;
}

#nav ul li:hover, #nav ul li:active { 
	background: rgba(0,0,0,0.05);
}


#nav ul a {
	color: #4CD964;
}

.button {
	background: #4CD964;
}

#items li {
	border: 1px solid #4CD964;
}

#logo {
	border: 1px solid #4CD964;
	border-radius: 5px;
}

#content h1:hover  {
	color: #4CD964;
}

#menu-btn {
	color: #4CD964;
}

#menu-btn-div{
	background-image: url(/imgs/site/menu-button-green.png);
}

@media only screen and (max-width : 40em) { 
	#nav
	{
		border-bottom: 1px solid #4CD964;
		border-top: 1px solid #4CD964;
	}
}