/**
 * Styles Splash
 * 
 * @author Henrique Dias
 * @package MathPocket
 */
 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLES */

a
{
	text-decoration:none;
}

html,body
{
	background-color:#fff;
	font-family: 'Open Sans', sans-serif;
	padding:0;
	width:100%;
}

p  {
	color: #007aff;
	vertical-align: middle;
}

h1 {
	color: #007aff;
	font-size: 4.5em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: middle;
}

#content {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.logo {  
	margin-top: 1em;
	text-align: center;
}

.logo img {
	max-width: 100%;
	width: 200px;
	border-radius: 5px;
}

.left {
	float: left;
	display: table-cell;
	/* margin-right: 3%; */
	width: 50%;
	position: relative;
	vertical-align: middle;  
	text-align: center;
	margin-top: 158px;
}

.right {
	float: right;
	width: 50%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.right img {
	max-width: 200px;
	vertical-align: middle;
}

.clear {
	clear: both;
}

footer {
	background-color: #fff;
	margin: 0;
	color: #444444;
	width: 100%;
}

footer p {
	padding: 20px;
	margin: 0;
	color: #007AFF;
	text-align: center;
	margin-top: 15px;
}

@media only screen and (max-width : 490px) { 
	.left {
		display:  block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		width: 100%;
}

	.right {
		display: block ;
		display:  block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	
		width: 95%;
}
	
	.right img {
		max-width: 200px;
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	.logo img {
		width: 125px;
		height: 125px;
	}
}

#button  {
	background: #007aff;
	border-radius: 10px;
	padding: 5px;
	text-align: right;
	max-width: 360px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	clear: both;
}

#button p {
	margin: 0;
	float:  left;
	margin-top: 7.5px;
	padding: 0;
	vertical-align:  middle;
	display: inline-block;
	color: #fff;
	font-size: 30px;
	text-align:left;
}

#button img {
	vertical-align: middle;
	height: 50px;
}

.arrow-right {
		width: 0; 
		height: 0; 
		border-bottom: 3.8em solid transparent;
		border-left:  3.8em solid #ff9500;
		position: fixed;
		top: 0;
		left: 0;
}

.arrow-left {
		width: 0; 
		height: 0; 
		border-bottom: 3.8em solid transparent;
		border-right: 3.8em solid #ff3b30;
		position: fixed;
		top: 0;
		right: 0;
}

.arrow-down {
		width: 0; 
		height: 0; 
		border-top: 3.8em solid transparent;
		border-right: 3.8em solid #007aff;
		position: fixed;
		bottom: 0;
		right: 0;
		clear: both;
}

.arrow-up {
		width: 0; 
		height: 0; 
		border-top: 3.8em solid transparent;
		border-left:  3.8em solid #99cc00;
		position: fixed;
		bottom: 0;
		left: 0;
}

.math_pi {
	display: inline-block;
	width: 97px;
	vertical-align: middle;
}