<footer class="site-footer sans">
  <p>Escrito com 	&#9829; por <a href="https://henriquedias.com">Henrique Dias</a>. Revisto com muito ☕ por <a href="https://luissoares.com">Luís Soares</a>.</p>
  <p>Contribui no <a href="https://github.com/hacdias/aprenda-a-programar">GitHub</a> | Publicado no <a href="http://pplware.com">Pplware</a></p>
  <p>Copyright &copy; 2014 - 2016</p>
</footer>

{{ partial "analytics.html" . }}
{{ if not .IsHome }}<script>hljs.initHighlightingOnLoad();</script>{{ end }}
</body>
</html>
