{{- $styles := resources.Get "css/vendor/katex.min.css" }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}?hash={{ md5 $styles.Content }}" />

{{- $k1 := resources.Get "js/vendor/katex.min.js" }}
{{- $k2 := resources.Get "js/vendor/auto-render.min.js" }}
{{- $k3 := resources.Get "js/vendor/mhchem.min.js" }}
{{- $js := slice $k1 $k2 $k3 | resources.Concat "js/katex.js" | resources.Minify }}
<script defer src="{{ $js.RelPermalink }}?hash={{ md5 $js.Content }}"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  renderMathInElement(document.body, {
    delimiters: [
      {left: "$$", right: "$$", display: true},
      {left: "$", right: "$", display: false}
    ]
  });
});
</script>